
{{include "global/instructions.html"}}

<figure class="highcharts-figure">


    <div class="container">
     <div class="row">
    <div class="col-6">


<div id="timer"></div>
<h3 style="text-align: center;">Your score: <span id="score_cents"></span> </h3>
<div class="progress my-3">
  <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
</div>

        <div class="row">
    <div class="col">

 <div style="text-align: left;
    /*position: absolute;
        margin-left: 50px;
    right: 50px;
    z-index: 2;*/">
     {{if interface == "ours"}}
    <button id="undo"  class="btn  btn-warning"  disabled  type="button">Undo</button>
    <button id="reset" class="btn  btn-danger" disabled  type="button">Reset</button>
     {{endif}}
    </div>

    </div>
    <div class="col">

        {{ if player.session.config.timeout == False or validate_btn == True}}

    <div class="mt-0 " style="text-align: right">
        <button disabled class="btn btn-success" id="validate_btn"> Validate </button>
    </div>

<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; left: 0; top: 0;">
    <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" data-autohide="false" aria-atomic="true" >
      <div class="d-flex">
        <div class="toast-body">
          You can now validate the task
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
</div>

        {{endif}}

    </div>

  </div>








            </div>

    <div class="col-6 mt-3">
                             <div id="model" class=""></div>

  </div>





</div>






    <div id="bins_container" style="display: none;    position: relative;width: 100%;">
        <div id="binsliders" class="d-flex justify-content-between">
        </div>
    </div>


    <div id="draw"></div>

</div>
</figure>

<div id="sliders">
   <div class="slider mt-3" id="slider_0"></div>
</div>
<div class="mt-0" style="text-align: center;">
<button id="add_component" style="display: none"  class="btn  btn-warning mt-3" type="button">Add a slider</button>
<button id="remove_component" style="display: none"  class="btn  btn-danger mt-3" type="button">Remove last slider</button>

</div>
<div id="binsinput" class="d-flex justify-content-around"></div>
<div id="alert" style="display:none">You can't add a point so close to another one!</div>


  <div id="topchart" class=" text-center" style="display: none" >
                <div class="btn-group btn-group-toggle" data-toggle="buttons">

                <input type="radio" class="btn-check" name="mode" id="curve-mode" autocomplete="off" value="curve" checked>
                <label class="btn btn-outline-primary" for="curve-mode">Point mode</label>

                <input type="radio" class="btn-check" name="mode" id="bins-mode" autocomplete="off" value="bins">
                <label class="btn btn-outline-primary" for="bins-mode">Bins mode</label>
                </div>

            </div>



